<!--仮作成、共通レイアウトになる！！！-->
<main>
<h2>New book</h2>
<%= form_with model:@book do |f| %>
 <div class="box1">Title<br>
 <%= f.text_field :Title %>
 </div>
 <div class="box1">Opinion<br>
 <%= f.text_area :Body %>
 </div>
 <div class="box1">
 <%= f.submit  %>
 </div>
<% end %>
</main>